body {
	background: #0D0D0D;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	color: white;
}

.intro {
	position: absolute;
	top: -30px;
	width: 100%;
	height: 100vh;
}

.max {
	width: 726px;
	font-size: 96px;
	position: absolute;
	top: 300px;
	left: 327px;
	line-height: 120%;
}

.designer {
	font-size: 24px;
	font-weight: 300;
	position: absolute;
	top: 310px;
	left: 333px;
}

.me {
	width: 518px;
	height: 518px;
	position: absolute;
	top: 272px;
	left: 1105px;
	transition: top 0.3s;
}

.me:hover {
	top: 260px;
}

.btn_portfolio {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 44px;

	width: 227px;
	height: 44px;
	position: absolute;
	top: 645px;
	left: 337px;
	border: 1px solid white;

	transition: background .05s linear, color .05s linear;
}

.btn_portfolio:hover {
    background: #5767F3;
    color: #ffffff;
	border-color: #5767F3;
}

.btn_telegram {	
	width: 44px;
	height: 44px;
	position: absolute;
	top: 645px;
	left: 589px;
	border: 1px solid white;
	text-align: center;
	line-height: 51px;
	
	transition: linear .05s;
}

.btn_telegram:hover {
	background: #5767F3;
	border-color: #5767F3;
}

.btn_instagram {	
	width: 44px;
	height: 44px;
	position: absolute;
	top: 645px;
	left: 645px;
	border: 1px solid white;
	text-align: center;
	line-height: 57px;
	
	transition: linear .05s;
}

.btn_instagram:hover {
	background: #5767F3;
	border-color: #5767F3;
}

.btn_behance {	
	width: 44px;
	height: 44px;
	position: absolute;
	top: 645px;
	left: 701px;
	border: 1px solid white;
	text-align: center;
	line-height: 46px;
	
	transition: linear .05s;
}

.btn_behance:hover {
	background: #5767F3;
	border-color: #5767F3;
}

.btn_vk {	
	width: 44px;
	height: 44px;
	position: absolute;
	top: 645px;
	left: 757px;
	border: 1px solid white;
	text-align: center;
	line-height: 47px;
	
	transition: linear .05s;
}

.btn_vk:hover {
	background: #5767F3;
	border-color: #5767F3;
}

.arrow {
	width: 18px;
	height: 6px;
	left: 951px;
	top: 940px;
	position: absolute;
}

.second_screen {
	background-image: url('../img/blue.jpg');
	position: absolute;
	top: 1024px;
	left: 0px;
	width: 100%;
	height: 1024px;
  }

.about_me {
	font-size: 24px;
	font-weight: 300;
	
	position: absolute;
	top: 171px;
	left: 911px;
}

.about_me_main {
	font-size: 36px;
	font-weight: 700;
	
	position: absolute;
	top: 200px;
	left: 731px;
}

.courses {
	width: 455px;
	height: 513px;
	background: #0D0D0D;
	border: #ffffff solid 2px;
	
	top: 380px;
	left: 337px;
	position: absolute;
}

.courses_main {
	font-size: 36px;
	font-weight: 700;
	

	width: 403px;
	height: 215px;
	
	position: absolute;
	top: -10px;
	left: 15px;

}

.courses_text {
	font-size: 18px;
	font-weight: 400;
	

	width: 420px;
	height: 42px;
	
	position: absolute;
	top: 240px;
	left: 15px;
}

.courses_display {
	font-size: 14px;
	font-weight: 400;

	color: #A1A1A1;
	
	position: absolute;
	top: 460px;
	left: 15px;	
}

.mini_arrow {
	position: absolute;
	top: 478px;
	left: 400px;
}

.skills {
	width: 455px;
	height: 218px;
	background: #0D0D0D;
	border: #ffffff solid 2px;
	
	top: 380px;
	left: 812px;
	position: absolute;
}

.skills_main {
	font-size: 24px;
	font-weight: 700;
	

	width: 389px;
	height: 29px;
	
	position: absolute;
	top: 0px;
	left: 15px;
}

.skills_text {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;

	position: absolute;
	top: 50px;
	left: 15px;
}

.interface {
	width: 455px;
	height: 274px;
	background: #0D0D0D;
	border: #ffffff solid 2px;
	
	top: 619px;
	left: 812px;
	position: absolute;
}

.interface_main {
	font-size: 24px;
	font-weight: 700;
	
	width: 354px;
	height: 58px;
	
	position: absolute;
	top: 0px;
	left: 15px;
}

.interface_text {
	font-size: 18px;
	font-weight: 400;

	position: absolute;
	top: 80px;
	left: 15px;
}

.stocks {
	width: 296px;
	height: 513px;
	background: #0D0D0D;
	border: #ffffff solid 2px;
	
	top: 380px;
	left: 1287px;
	position: absolute;	
}

.stocks_main {
	font-size: 24px;
	font-weight: 700;
	
	width: 245px;
	height: 87px;
	
	position: absolute;
	top: 0px;
	left: 15px;
}

.stocks_text {
	font-size: 18px;
	font-weight: 400;

	width: 245px;
	height: 126px;
	position: absolute;
	
	top: 110px;
	left: 15px;
}

.third_screen {	
	background-image: url('../img/project_osfabias.jpg');
	position: absolute;
	top: 2048px;
	left: 0px;
	width: 100%;
	height: 1024px;
	color: white;
}

.tools {
	font-size: 18px;
	font-weight: 400;
	color: #5767F3;

	position: absolute;
	top: 283px;
	left: 416px;
}

.programms {
	font-size: 36px;
	font-weight: 700;

	position: absolute;
	top: 305px;
	left: 415px;
}

.photoshop {
	position: absolute;
	top: 491px;
	left: 449px;
}

.figma {
	position: absolute;
	top: 503px;
	left: 768px;
}

.tilda {
	position: absolute;
	top: 503px;
	left: 1066px;
}

.after_effects {
	position: absolute;
	top: 503px;
	left: 1373px;
}

.photoshop_main {
	font-size: 24px;
	font-weight: 700;

	position: absolute;
	top: 605px;
	left: 442px;
}

.figma_main {
	font-size: 24px;
	font-weight: 700;

	position: absolute;
	top: 605px;
	left: 774px;
}

.tilda_main {
	font-size: 24px;
	font-weight: 700;

	position: absolute;
	top: 605px;
	left: 1084px;
}

.after_effects_main {
	font-size: 24px;
	font-weight: 700;

	position: absolute;
	top: 605px;
	left: 1345px;
}

.photoshop_list {
	font-size: 18px;
	font-weight: 300;

	width: 238px;
	height: 42px;

	position: absolute;
	top: 661px;
	left: 375px;
}

.figma_list {
	font-size: 18px;
	font-weight: 300;

	width: 238px;
	height: 42px;

	position: absolute;
	top: 661px;
	left: 695px;
}

.tilda_list {
	font-size: 18px;
	font-weight: 300;

	width: 238px;
	height: 42px;

	position: absolute;
	top: 661px;
	left: 1025px;
}

.after_list {
	font-size: 18px;
	font-weight: 300;

	width: 200px;
	height: 42px;

	position: absolute;
	top: 661px;
	left: 1296px;
}

.photoshop_bar_text {
	font-size: 13px;
	font-weight: 300;
	color: #2F2F2F;

	width: 200px;
	height: 42px;

	position: absolute;
	top: 745px;
	left: 444px;
}

.figma_bar_text {
	font-size: 13px;
	font-weight: 300;
	color: #2F2F2F;

	width: 200px;
	height: 42px;

	position: absolute;
	top: 745px;
	left: 755px;
}

.tilda_bar_text {
	font-size: 13px;
	font-weight: 300;
	color: #2F2F2F;

	width: 200px;
	height: 42px;

	position: absolute;
	top: 745px;
	left: 1063px;
}

.after_bar_text {
	font-size: 13px;
	font-weight: 300;
	color: #2F2F2F;

	width: 200px;
	height: 42px;

	position: absolute;
	top: 745px;
	left: 1361px;
}

.photoshop_bar {
	position: absolute;
	top: 780px;
	left: 414px;
}

.figma_bar {
	position: absolute;
	top: 780px;
	left: 725px;
}

.tilda_bar {
	position: absolute;
	top: 780px;
	left: 1033px;
}

.after_bar {
	position: absolute;
	top: 780px;
	left: 1332px;
}